.button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.button:hover {
    -fx-text-fill: #e34350;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
