.rectangle {
    -fx-fill: rgba(0, 0, 0, 0.1);
}

.rectangle:hover {
    -fx-fill: rgba(255, 0, 0, 0.3);
}
.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.button:hover {
    -fx-text-fill: red;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}